html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	-webkit-font-smoothing: antialiased;
}

.row {
	margin-left:0px;
	margin-right:0px;
}

.container-fluid{
	padding:0;
}

hr{
	border-top: 1px solid #ccc;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 15px 0;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color:#E8C102;
	background-color: #2e2e2e;
}

.nav-justified>li>a {
	margin-bottom: 5px;
	text-align: left;
}


#wrap > .container {
	padding: 60px 15px 0;
}
.container .credit {
	margin: 20px 0;
}

#footer {
	background-color:#414141;
}

#footer a {
	color:#efefef;
}

header {
	background: #333;
	color:#555;
	height: 
}

/*Intro*/
.intro h1{
	text-align: left;
	margin-top: 10%;
	font-family: "Raleway", serif;
	font-size: 5em;
	text-transform: uppercase;
	font-weight: 900;
	color:#E8C102;
	letter-spacing: 1px;
}

.intro hr{
	width:200px;
	text-align: left;
	margin-left: 0;
	border: 5px solid #E8C102;
	margin-top: 50px;
}

.intro h2{
	text-align: left;
	margin-top: 50px;
	font-family: "Cardo", serif;
	font-size: 2em;
	font-weight: 400;
	line-height: 130%;
	margin-bottom: 100px;
}

#nav {
	width: 100%;
	position:static;
	top:-32px;
}

#nav.affix {
	position: fixed;
	top: 0;
	z-index:10;
	-webkit-transition: all .6s ease-in-out;
}

#footer > .container {

}

@media (min-width: 767px) {
	.navbar-nav.nav-justified > li{
		float:none;
	}
}

.navbar-nav {
	margin: 1px 1px; 
}  

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #E8C102;
	background-color: transparent;
}

/* customize nav style */
.navbar-custom {
	background-color: #2e2e2e;
	font-weight:700;
	text-transform:uppercase;
	border-width:0;
	font-family: "Raleway",sans-serif;
	letter-spacing: 1px;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .dropdown-menu li>a:hover {
	color: #eee;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {

}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
	overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:50px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {

	}
}

#map-canvas {
	width: 100%; 
	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
	position:fixed;
	bottom:0;
	right:6%;
	z-index:100;
	background: #f2f3f2;
	font-size:24px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
	color:#222;
} 


/*sections*/
#section1, #section2, #section3, #section4{
	padding: 0;
}


h1 {
	text-align: left;
	font-family: "Raleway", sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
	color:#E8C102;
	letter-spacing: 1px;
	margin-top: 0;
}


.explanation-viz{
	margin-top: 150px;
	margin-bottom: 50px;
}

.explanation-viz-small{
	margin-top: 20px;
	margin-bottom: 10px;
}

.viz-full{
	border-bottom: 20px solid #E8C102;
}

.grey{
	background-color: #ccc;
}

p{
	margin-top: 0;
	font-family: "Cardo", serif;
	font-size: 1.5em;
}

.explanation hr, .explanation-viz hr{
	width:50px;
	text-align: left;
	margin-left: 0;
	border: 3px solid #E8C102;
	margin-top: 10px;
}


.overview h2{
	text-align: left;
	margin-top: 0;
	font-family: "Raleway", sans-serif;
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 900;
	color:#E8C102;
	letter-spacing: 1px;
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings:"lnum" 1; 
	-moz-font-feature-settings:"lnum=1"; 
	-ms-font-feature-settings:"lnum" 1; 
	-o-font-feature-settings:"lnum" 1; 
	-webkit-font-feature-settings:"lnum" 1; 
	font-feature-settings:"lnum" 1;
}

.overview h3{
	text-align: left;
	margin-top: 0;
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 800;00;
	color:rgb(85, 85, 85);
	letter-spacing: 1px;
}

.map2{
	width: 100%;
}

/*overview*/
#section2{
	background-color: #E8C102;
}

#section2 h1{
	color: #333;
}

#section2 hr{
	border: 3px solid #333;
}

.overview-scale{
	width: 9%;
	margin-top: 30px;
	height:503px;
	float: left;
}

.label-sum{
	width: 9%;
	margin-top: 4px;
	float: left;
	text-align:right;
	color:#fff;
}

.time{
	height:23.5%;
}

.time h4{
	font-family: "Raleway", sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	text-align:right;
	margin-right:8px;
}



.overview-img {
	width: 100%;
	height:523px;
}

.overview-day{
	width: 13%;
	float: left;
	padding:0 5px;
}

.sum-first{
	border-top: solid 1px #555;
}
.sum .overview-day,.sum-first .overview-day {
	border: none;
}

.overview-day h4{
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	line-height: 30%;
}

.overview-day h5{
	font-family: "Raleway", sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
}

.overview-day h2{
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 13px;
}



/*map paths*/
.menu-ui {
	background:#fff;
	position:absolute;
	top:10px;right:10px;
	z-index:1;
	border-radius:3px;
	width:120px;
}
.menu-ui a {
	font-size:13px;
	color:#404040;
	display:block;
	margin:0;padding:0;
	padding:10px;
	text-decoration:none;
	border-bottom:1px solid rgba(0,0,0,0.25);
	text-align:center;
	font-weight:900;
	text-transform:uppercase;
	font-family: "Raleway",sans-serif;
	letter-spacing: 1px;
	background:#CCCCCC;	
}
.menu-ui a:first-child {
	border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
	border:none;
	border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
	background:#E8C102;
	color:#404040;
}
.menu-ui a.active {
	background:#E8C102;
	color:#333;
}
.menu-ui a.active:hover {
	background:#E8C102;
}

.leaflet-container a {
color: #333!important;
font-weight: 700!important;
text-decoration: none;
}

#map { 
	width:100%;
	min-height: 800px;
	height: 100%;
}

/*Video responsive*/
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
